/* accordion css styles */

/* preserve whitespace
.quarto-accordion .accordion-header-content,
.quarto-accordion .accordion-body-content, {
  white-space: pre-wrap;
}
*/

.accordion-error {
  border: 1px solid #721c24;
  background-color: #f5c6cb;
  color: #721c24;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}
